html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background-image: repeating-linear-gradient(145deg, #d4fdff 12px, #d4fdff 24px, #c9fcff 24px, #c9fcff 36px);
  border-top: 7px solid #b3fbff;
  border-bottom: 7px solid #b3fbff;
}

h1 {
  position: relative;
  left: -.15em;
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left center;
  filter: blur(12px);
  text-shadow: 2px 2px rgba(150, 150, 150, .3);
  opacity: 0;
  animation: h1 .2s 1.2s ease-in forwards;
}

.intro-p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg);
  transform-origin: left center;
  text-shadow: 2px 2px rgba(150, 150, 150, .3);
  animation: intro-p .2s 1.2s ease-in forwards;
  opacity: 0;
  filter: blur(12px);
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  text-shadow: 2px 2px rgba(150, 150, 150, .3);
  animation: btn-ghost .2s 1.2s ease-in forwards;
  opacity: 0;
  filter: blur(12px);
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: rgba(204, 0, 153, .1);
}

@keyframes h1 {

  0% {
    filter: blur(12px);
    opacity: 0;
    transform: rotate(-10deg);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: rotate(-8deg);
  }

}

@keyframes intro-p {

  0% {
    filter: blur(12px);
    opacity: 0;
    transform: rotate(-10deg);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: rotate(-8deg);
  }

}

@keyframes btn-ghost {

  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }

}

.ice-cream {
  min-height: 485px;
}

.ingredient {
  bottom: 100%;
  left: 50%;
  height: 180px;
  width: 180px;
  transform: translateX(-50%);
}

.cone {
  animation: cone .3s ease-in forwards;
}

.mint {
  animation: mint .3s .3s ease-in forwards;
}

.chocolate {
  animation: chocolate .3s .6s ease-in forwards;
  left: 53%;
  z-index: 2;
}

.vanilla {
  animation: vanilla .2s .9s ease-in forwards;
  left: 48%;
  z-index: 4;
}

.cherry {
  animation: cherry .15s 1.5s ease-in forwards;
  z-index: 6;
}

@keyframes cone {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

@keyframes mint {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 104px;
  }

}

@keyframes chocolate {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 190px;
  }

}

@keyframes vanilla {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 263px;
  }

}

@keyframes cherry {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 342px;
  }

}
