html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background: repeating-linear-gradient(-35deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
  padding-bottom: 4.5em;
  overflow: hidden;
}

body {
  color: #c09;
  border-top: .5em #b3fbff solid;
  border-bottom: .5em #b3fbff solid;
}

h1 {
  color: #990073;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
  transform: rotate(-10deg);
}

p {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
  margin-left: .25em;
  transform: rotate(-6deg);
  max-width: 19em;
}

a {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  margin-left: .25em;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
}

.text-wrapper {
  opacity: 0;
  animation-delay: 1000ms;
}

.icecream-wrapper {
  position: relative;
}

.cherry {
  top: -1200px;
  width: 160px;
  z-index: 10;
  left: calc(50% + 510px);
  position: absolute;
  animation: cherry 700ms linear forwards;
  animation-delay: 1000ms;
}

.vanilla-fudge {
  top: -1200px;
  width: 175px;
  z-index: 9;
  left: calc(50% + 500px);
  position: absolute;
  animation: vanilla-fudge 600ms linear forwards;
  animation-delay: 400ms;
}

.chocolate-chip {
  top: -1200px;
  width: 175px;
  z-index: 8;
  left: calc(50% + 520px);
  position: absolute;
  animation: chocolate-chip 500ms linear forwards;
  animation-delay: 300ms;
}

.mint-chip {
  top: -1200px;
  width: 175px;
  z-index: 7;
  left: calc(50% + 510px);
  position: absolute;
  animation: mint-chip 400ms linear forwards;
  animation-delay: 200ms;
}

.cone {
  top: -1200px;
  width: 175px;
  z-index: 11;
  left: calc(50% + 510px);
  position: absolute;
  animation: cone 300ms linear forwards;
  animation-delay: 150ms;
}

@keyframes blur {

  0% {
    opacity: 0;
    filter: blur(10px);
  }

  50% {
    opacity: .5;
    filter: blur(10px);
  }

  75% {
    opacity: .5;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(10px);
  }
}

@keyframes cherry {

  0% {
    top: -1200px;
  }

  100% {
    top: -410px;
  }

}

@keyframes vanilla-fudge {

  0% {
    top: -1200px;
  }

  100% {
    top: -340px;
  }

}

@keyframes chocolate-chip {

  0% {
    top: -1200px;
  }

  100% {
    top: -265px;
  }

}

@keyframes mint-chip {

  0% {
    top: -1200px;
  }

  100% {
    top: -180px;
  }

}

@keyframes cone {

  0% {
    top: -1200px;
  }

  100% {
    top: -80px;
  }

}

@media only screen and (min-width: 38em) {

  .banner {
    padding-top: 2em;
  }

}

@media only screen and (min-width: 90em) {

  .banner {
    padding-top: 0;
    padding-left: 10em;
    padding-right: 9em;
  }

  .icecream-wrapper {
    left: calc(20% - 100px);
    top: -20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
